body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-image: url('https://www.file-extensions.org/imgs/app-picture/10558/roblox.png'); /* URL gambar yang Anda sediakan */
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 48px; /* Membuat teks lebih besar */
  color: #000; /* Mengganti warna teks menjadi hitam */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Menambahkan bayangan teks agar terlihat lebih jelas */
}

header input {
  margin-top: 10px;
  padding: 5px;
  width: 300px;
}

#search-game-bar {
  margin-top: 10px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

#search-game-bar a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

#alphabet-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.alphabet-link {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.alphabet-link:hover {
  background-color: #444;
}

#game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.game-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: calc(20% - 10px);
  text-align: center;
  cursor: pointer;
}

.game-item:hover {
  background-color: #f0f0f0;
}
